---
import { Icon } from 'astro-icon'
import HeroImage from '~/components/HeroImage.astro'
import type { FooterLink } from '~/types'
import SuperTwoSlidesSlider from './SuperTwoSlidesSlider.astro'

const { siteTitle } = Astro.props

const links: Array<FooterLink> = [
	{
		url: 'https://github.com/varmints',
		description: 'View source on GitHub',
		icon: 'fa-brands:github-alt'
	},
	{
		url: 'https://www.linkedin.com/in/kamil-morkisz/',
		description: 'mormor on Linkedin',
		icon: 'fa-brands:linkedin'
	},
	{
		url: 'https://www.instagram.com/foto.tfurca/',
		description: 'mormor on Instagram',
		icon: 'fa-brands:instagram'
	}
]

const currentYear = new Date().getFullYear()
---

<footer id="fancy-footer" data-slides-active="false">
	<SuperTwoSlidesSlider />
	<div class="relative flex h-screen flex-col items-center justify-center">
		<div
			class="absolute -top-[1px] left-0 right-0 z-10 mx-auto max-w-7xl bg-default pb-14 content-[''] clip-path-triangle sm:pb-20 md:pb-24"
		>
		</div>
		<div class="absolute inset-0 overflow-hidden opacity-40">
			<HeroImage />
			<div class="bg-grid absolute inset-0 mix-blend-plus-lighter"></div>
		</div>
		<div class="relative">
			<ul class="grid grid-cols-2 gap-4 sm:grid-cols-4">
				<li>
					<a
						class="flex h-16 w-16 cursor-pointer items-center justify-center rounded-full border-2 border-current p-4"
						href="#"
					>
						<span class="sr-only">{siteTitle} official website</span>
						<Icon class="h-full" name="mdi:home" />
					</a>
				</li>
				{
					links.map((link) => (
						<li>
							<a
								class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
								href={link.url}
							>
								<span class="sr-only">{link.description}</span>
								<Icon class="h-full" name={link.icon} />
							</a>
						</li>
					))
				}
			</ul>
			<div class="absolute left-0 right-0 mt-6 text-center">
				<span>Copyleft&thinsp;</span>
				<span class="m-0 inline-block scale-x-[-1] text-right">&copy;</span>
				<span>2023&thinsp;-&thinsp;{currentYear}</span>
				<span class="separator">&thinsp;|</span>
				<span>&thinsp;All lefts whatever.</span>
			</div>
		</div>
	</div>
</footer>

<style>
	.separator {
		@apply hidden sm:inline;
	}

	.bg-grid {
		background-size: 20px 20px;
		background-image: linear-gradient(to right, #23262d 1px, transparent 1px),
			linear-gradient(to bottom, #23262d 1px, transparent 1px);
		background-position: top center;
		image-rendering: pixelated;
		mask-image: linear-gradient(to bottom, transparent, 20%, white, 90%, transparent);
	}
</style>
