---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import { resolveImage } from '~/content/showcase/_resolveImage.js'

export interface Props {
	site: CollectionEntry<'showcase'>
}

const { site } = Astro.props
const image = await resolveImage(site)

function getRootDomain(s: string): RegExpMatchArray | null {
	if (s[0] === '/') {
		s = Astro.site!.href
	}
	return s.replace(/http(s)?(:)?(\/\/)?|(\/\/)?(www\.)?/g, '').match(/^(?:\/\/|[^\/]+)*/g)
}

const shortUrl: RegExpMatchArray | null = getRootDomain(site.data.url)
---

<a class="group border border-default hover:!text-default" href={site.data.url} target="_blank">
	<figure class="relative h-full w-full overflow-hidden">
		<Image
			class="h-full bg-cover object-cover transition-all duration-300 group-hover:scale-110 group-hover:opacity-20 group-focus:scale-110 group-focus:opacity-20"
			src={image}
			width={800}
			height={400}
			alt={`A screenshot of ${site.data.url}`}
		/>
		<figcaption class="absolute inset-0">
			<div
				class="flex h-full flex-col items-center justify-center gap-2 opacity-0 transition-all duration-300 group-hover:opacity-100 group-focus:opacity-100"
			>
				<h3 class="text-center font-extrabold uppercase text-xl">
					{site.data.title}
				</h3>
				<p class="border border-current px-4 py-2">{shortUrl}</p>
			</div>
		</figcaption>
	</figure>
</a>
